body {
    margin: 10px;
    cursor: default;
    background-color: azure;
}

#TheCanvas {
    border: 1px solid #000000;
    background-color: white;
}

#TheMConsole {
    background-color: white;
    font-family: 'consolas', 'Courier New', Courier, monospace;
}

/*
@font-face {
    font-family: "SourceHanSans";
    src: url(assets/fonts/SourceHanSans-VF.ttf.ttc);
}
*/